services:
  - type: web
    name: webibook
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: ADMIN_PASSWORD
        value: webiBook2024
      - key: JWT_SECRET
        generateValue: true
      - key: MONGODB_URI
        sync: false